<!--<h1> Welcome to {{firstName}} {{lastName}}!</h1>-->

<!--<br>-->

<!--{{ city ? city : 'no city'}}-->

<!--<br>-->
<!--{{displayFirstName() }}-->
<!--<br>-->
<!--<hr>-->
<!--<label for="status">Active</label>-->
<!--<input type="radio" id="status" [checked]="status">-->
<!--<br>-->
<!--<br>-->
<!--<hr>-->
<!--<button (click)="greetPerson()">CLICK HERE</button>-->

<!--<br>-->

<div (mouseover)="mousingOver()" class="container">


</div>
<input (keydown)="keyDowning()" type="text">

<br>

<input [(ngModel)]="lastName" type="text">
<!--<br>-->
<h1 *ngIf="status">{{firstName}}</h1>
<ng-template #notActive>
  <p>Not Active</p>

</ng-template>

<ul>
  <li *ngFor="let post of posts; let i = index">{{i + 1}}
    {{post.title}}
  </li>

</ul>
<h1 [ngStyle]="{color: status ? 'green' : 'red'}">
  {{firstName}}

</h1>

<h1 [ngClass]="{isActive: status}">{{lastName}}</h1>     <!-- class is active if status is true-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container">

</div>
